<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>$http Intro</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/httpIntro.js" charset="utf-8"></script>
  </head>
  <body ng-app='myApp'>
    <h1>$http Intro</h1>
    <div ng-controller='HttpController as hc' ng-init='hc.startUpFunction()'>
      stuff will go here soooooooon
      <button ng-click='hc.otherGet()'>get the songs the other way</button>
    </div>
  </body>
</html>
